/*Archivo de estilos CSS para el html de prueba previa.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
}
.cabecera {
  height: 25vh;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(10, 66, 27);
}
h1 {
  color: yellow;
  font-size: 3.5rem;
}
/*Sección del menú de navegación */
.navegacion{
  clear:both;
  position: relative;
  left:20%;
  width: 70vw;
}
ul#menu {
  position: relative;
  text-align: left;
  float: right;
  display: flex;
}
#menu li {
  color: rgb(10, 66, 27);
  background-color:yellow;  
  font-size: 1.8rem;
  font-weight: bold;
  list-style: none;  
  display:flex;
  flex-flow: row;
}
.submenu{
  display:flex;
  margin-left: 0px;
  padding-left: 0px;
  flex-flow: row;
}
.submenu li{
  margin-left: 0px;
  padding-left: 0px;
}
.submenu li a {
  text-decoration: none;
  color: black;
  width: 25vw;
  margin-left: 0px;
  padding-left: 0px;
}
 ul#menu li:hover {
  color: blue;
  background-color: lightblue;
  cursor: pointer;
  display: block;
}
/*Sección de contenido principal */
.contenidos {
  padding: 10px;
  margin: 20px auto;
  width: 40vw;
  border: 2px dashed black;
  background-color: orange;
  text-align: center;
}
.contenidos li {
  list-style-type: none;
  font-weight: bold;
  font-size: 2.4rem;
}
.contenidos li a {
  font-family: fantasy;
  font-weight: normal;
  font-size: 2rem;
}
