/*Archivo de estilos CSS para el html de prueba previa.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
}
.cabecera {
  height: 25vh;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(10, 66, 27);
}
h1 {
  color: yellow;
  font-size: 3.5rem;
}
/*Sección del menú de navegación */
.navegacion{
  left:20%;
}
#menu{
  display:flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  text-align:left;
}
#menu li{
  color: rgb(10, 66, 27);
  background-color:yellow;  
  font-size: 1.8rem;
  font-weight: bold;
  list-style: none;  
  padding-right: 10px;
}
#menu li .submenu{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
#menu li .submenu li{
  background-color: white;
}
#menu li .submenu li a {
  text-decoration: none;
  color: black;
  display:none;
}
#menu li .submenu li a:link{
  color:#13bd21;
}
#menu li .submenu li a:visited{
  color:blueviolet;
}
#menu li .submenu li a:hover{
  color: blue;
  background-color: lightblue;
  cursor: pointer;
}
#menu li .submenu li a:active{
  color: #0000FF;
}
/*Probando aún para despliegue de submenú items */
/* #menu li:hover, #menu li:active, #menu li ul.submenu li:hover, #menu li ul.submenu li:active{
  display:block;
  background-color: floralwhite;
} */
#menu li:hover, #menu li:hover .submenu li a{
  display:block;
  background-color: floralwhite;
}
/*Sección de contenido principal */
.contenidos {
  padding: 10px;
  margin: 20px auto;
  width: 40vw;
  border: 2px dashed black;
  background-color: orange;
  text-align: center;
}
.contenidos li {
  list-style-type: none;
  font-weight: bold;
  font-size: 2.4rem;
}
.contenidos li a {
  font-family: fantasy;
  font-weight: normal;
  font-size: 2rem;
}
