/*Archivo de estilos CSS para el html de prueba previa.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
}
.cabecera {
  height: 20vh;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(10, 66, 27);
}
h1 {
  color: yellow;
  font-size: 3.5rem;
}
/*Sección del menú de navegación */
ul#menu {
  position: relative;
  text-align: left;
  float: right;
  display:flex;
}
ul#menu li {
  color: rgb(10, 66, 27);
  background-color: floralwhite;
  padding-left: 10px;
  padding-right:10px;
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  list-style: none;
  width: 20vw;
}
ul#menu li .submenu{
  background-color: yellow;
  display:flex;
  flex-flow: column;
}
.submenu li{
  padding: 2px;
  margin: 2px;
}
.submenu li a {
  text-decoration: none;
  color: black;
  display: none;
  margin:0;
  padding: .6rem .5rem .4rem;
  line-height: 1rem;
}
ul#menu li:hover, #menu li .submenu{
  color: blue;
  background-color: lightblue;
  cursor: pointer;
  display: block;
}

/*Sección de contenido principal */
.contenidos {
  padding: 10px;
  margin: 20px auto;
  width: 40vw;
  border: 2px dashed black;
  background-color: orange;
  text-align: center;
}
.contenidos li {
  list-style-type: none;
  font-weight: bold;
  font-size: 2.4rem;
}
.contenidos li a {
  font-family: fantasy;
  font-weight: normal;
  font-size: 2rem;
}
